<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/mahmut/IdeaProjects/magentoautomationeu-team4">
        <classes>
            <class name="regression.uitest.testngframework.PublicModuleRunner">
                <methods>
                    <include name="addLinenBlazerProductToCart"/>
                    <include name="updateProductSize"/>
                    <include name="ViewAccountInformation"/>
                    <include name="CheckOutTheOrder"/>
                    <include name="viewDownloadableOrders"/>
                    <include name="createAnAccount"/>
                    <include name="ViewOrder"/>
                    <include name="UpdateAddress"/>
                    <include name="addProductsToCart"/>
                    <include name="EditAccountInformation"/>
                    <include name="SeeMyProductsReview"/>
                    <include name="ViewMyWishList"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>